.fontTitre {
  font-family: 'Titre';
}

.fontTexte {
  font-family: 'Texte';
}

.fontSymbol {
  font-family: 'Symbol';
}

.fontSmall {
  font-size: 0.8em;
}


/* Les font au dessu */

.fontOrange {
  color: #ff5e18;
}


.colorWhite, .colorWhite a {
  color: white !important;
}

.orange {
  background-color: #ff5e18;
}


/* Les couleurs au dessu */

.container-fluid {
  padding: 0 !important;
}

.navbar {
  padding-left: 15px;
  padding-right: 15px;
  margin-bottom: 0;
  border-radius: 0;
}

.carousel {
  margin: 0;
}

.underline>li>a:hover {
  border-bottom: 9px solid black;
  margin-bottom: -10px;
}


.item {
  margin: 0;
  width: 100vw;
  height: 50vh;
}

.item img {
  display: none;
}
