.fontTitre {
  font-family: 'Titre';
}

.fontTexte {
  font-family: 'Texte';
  font-size: 1.2em;
}

.fontSymbol {
  font-family: 'Symbol';
}

.fontSmall {
  font-size: 0.8em;
}

.fontTall{
  font-size: 1.3em;
}

.fontOrange {
  color: #ff5e18;
}

.colorWhite, .colorWhite a {
  color: white !important;
}

/* Les font au dessu */





.orange {
  background-color: #ff5e18;
}


/* Les couleurs au dessu */

.paddingzero {
  padding: 0 !important;
}

.paddingbot{
  padding-bottom: 20;
}

.navbar {
  padding-left: 15px;
  padding-right: 15px;
  margin-bottom: 0;
  border-radius: 0;
}

.carousel {
  margin: 0;
}

.underline>li>a:hover {
  border-bottom: 9px solid black;
  margin-bottom: -10px;
}


.item {
  margin: 0;
  width:  100%;
  max-height: 70vh;
}

.nav-pills li a{
  text-decoration: none;
  color: #747474;
}

.nav-pills li a:hover{
  text-decoration: none;
  color: #747474;
}
