@font-face{
	font-family: 'Titre';
	src:  url('fonts/anicb___.ttf') format('truetype');
}

@font-face {
	font-family: 'Texte';
	src:  url('fonts/partybusiness.ttf') format('truetype');
}

@font-face {
	font-family: 'Symbol';
	src:  url('fonts/tngani.ttf') format('truetype');
}
